* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    line-height: 1.8;
}

html,
body {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

#container {
    display: flex;
    flex-direction: column;
    width: 60%;
}

header {
    display: flex;
    background-color: #E0E0E0;
    height: 11vh;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 1vw;
}

main {
    display: flex;
    width: 100%;
}

#additional,
#nav,
#content {
    display: flex;
    flex-direction: column;
}

#blue {
    background-color: #137FA8;
    padding: 1.5vh 1.5vw;
}

#green {
    background-color: #7CB71F;
    padding: 1.5vh 1.5vw;
}

#additional {
    flex: 1;
}

#content {
    padding: 1.5vh 1.5vw;
    flex: 2;
}

#nav {
    flex: 1;
}

footer {
    display: flex;
    align-items: center;
    background-color: #41444E;
    min-height: 10%;
    width: 100%;
    padding: 0 1.5vh;
    color: #fff;
}